a:hover {
    color: #ffc0cb;
}


/*统一背景颜色*/

.col-bac {
    background-color: #ffc0cb;
    color: #fff;
}

.col-bac:hover {
    color: #fff;
}


/*统一边框颜色*/

.col-bor {
    border-top-color:  #ffc0cb;
}


/*统一边框1*/

.col-bor1 {
    border: 1px solid  #ffc0cb;
}
